<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5360889d-0734-4eb3-b38e-dbed11228556" name="Login Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5360889d-0734-4eb3-b38e-dbed11228556fileName">Login-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
