<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="2965bbbf-fd51-420c-9ec5-7b683f07479e" name="Address Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="2965bbbf-fd51-420c-9ec5-7b683f07479efileName">Address-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
